.typewriter {
    display: flex;
    overflow: visible;
    font-family: 'Courier New', monospace;
    width: 100%;
    
    @apply border border-white3 rounded-lg text-sm h-fit;
}

.text-paragraph {

}