.navBar{
    @apply flex items-center gap-3 w-full mb-2.5 max-h-16 min-h-[2.5rem] sticky;
    height: 8%;
}

.searchSection{
    width: fit-content;
    height: 100%;
    flex-grow: 9;
    display: inline-block;
}

.navButton{
    height: 100%;

    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    webkit-font-smoothing: subpixel-antialiased;

    @apply aspect-square flex items-center justify-center bg-white1 drop-shadow rounded-xl transform-gpu transition-all hover:scale-[1.048] ease-in hover:drop-shadow-md;
}
.searchBar{
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    display: inline-block;


    @apply w-full h-full p-4 pl-[7%] rounded-xl text-sm font-light transform-gpu transition-all drop-shadow enabled:border-0 enabled:outline-0 focus:drop-shadow-md ease-in bg-white1 text-black1;
}

.searchIcon{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

.searchIcon::before, .searchIcon::after{
    content: '';
}

.searchIcon::before{
    background-image: url(/assets/icons/NavBar/search.svg);
    height: 40%;
    aspect-ratio: 1;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    z-index: 100;
}