.sideBar{
    @apply h-screen rounded-r-xl bg-white1 drop-shadow-xl overflow-hidden sticky;

}

.logoContainer{
    display: block;
    width: 100%;
    height: 10%;
    max-height: 100px;
    
    @apply px-5 pt-5 pb-2 drop-shadow bg-white1 border border-white2 z-10 relative;
}

.option{
   @apply flex gap-3.5 hover:bg-white2 pl-7 p-2 py-2.5 items-center;
}

.trumioLogo{
    height: 100%;
    max-width: 150px;

}

.navPanelOptionLogo{
    @apply h-1/2;
}