.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.responseArea{
    @apply flex flex-col overflow-scroll gap-4 w-full h-fit justify-start;
}

.responseArea::-webkit-scrollbar{
    width: 0;
}

.output{
    @apply flex flex-col gap-2;
}