@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: fit-content;
}

h1, h2, h3, h4, h5, h6, p, a{
  display: inline-block;
}

*{
  font-family: 'Roboto',sans-serif;

}

body{
  background: #EBEEF0;
  font-family: 'Roboto',sans-serif;
  height: fit-content;
  margin: 0;
  padding: 0;
}


.sideBar{
  flex-grow: 1;

}

.main{
  @apply h-screen flex flex-col grow-[9] items-stretch p-5;

}
.black_btn {
  @apply font-bold rounded-lg border border-2 border-black1 bg-black1 py-3 px-5 text-white transition-all hover:bg-white hover:text-black1 text-center text-sm font-roboto flex items-center justify-center transition-all ease-in;
}

.outline_btn{
  @apply text-xs text-black1 border border-black1 rounded-lg font-bold w-fit p-2 px-4 hover:bg-black1 hover:text-white1 transition-all ease-in;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */